@font-face {
    font-family: 'PT Sans';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff2') format('woff2'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff2') format('woff2'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS56F-webfont.woff2') format('woff2'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Abril Fatface';
    src: url('AbrilFatface-Regular.eot');
    src: url('AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
         url('AbrilFatface-Regular.woff2') format('woff2'),
         url('AbrilFatface-Regular.woff') format('woff'),
         url('AbrilFatface-Regular.ttf') format('truetype'),
         url('AbrilFatface-Regular.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
